body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Roboto, serif;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}
.nav-links {
  margin: 0;
  padding: 0;
  padding-right: 15px;
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.hero {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 20px;
}

.hero .left {
  display: flex;
  flex-direction: column;
  color: white;
  width: 400px;
  padding: 10px;
}

.hero .left h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 0;
  line-height: 3rem;
}

.hero .left p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero .left button {
  padding: 5px 20px;
  font-size: 16px;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  color: white;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 5px 40px;
}

.hero-right {
  flex-grow: 0;
}
.hero-image {
  width: 400px;
  height: 330px;
}

.content {
  flex-grow: 1;
}

.card img {
  width: 100px;
}
.card p {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
.carousel h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.testimonial {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 50px;
}

.testimonial .quote {
  margin: 0;
  padding: 0;
  max-width: 700px;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.testimonial .credit {
  margin: 0;
  padding: 0;
  text-align: right;
  width: 700px;
  font-weight: bold;
  max-width: 500px;
}

.footer {
  background-color: #1f2937;
  color: white;
  font-size: 28px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.action-content {
  width: 60%;
  height: 140px;
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0 40px;
  color: white;
}

.action-text {
  margin-right: 20px;
}
.action-content h3 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}

.action-content p {
  margin-top: 0;
  font-size: 16px;
}

.action-content button {
  flex-shrink: 0;
  padding: 5px 20px;
  font-size: 16px;
  background-color: #3882f6;
  border: 2px solid;
  border-radius: 10px;
  color: white;
}
